/*GENERAL*/
p{
    font-family: 'Roboto',sans-serif;
}
h1 h2 h3 h4 span{
    font-family: 'Shrikhand',sans-serif;
}
img{
    max-width: 100%;
}
body{
    margin: 0;
    padding: 0;
}

/*HEADER*/
.page{    
    background-color: #f6f6f6;
}
.logo{
    text-align: center;
}
header{
    height: 3rem;
    position: relative;
}
header h1{
    font-family: 'Shrikhand', cursive;
    text-align: center;
    margin-top: 0.5rem;
}
header a{
    position: absolute;
    left: 1.2rem;
    top: 0.5rem;
}
header i{
    font-size: 1.8rem;
    color: black;
}
.fa-arrow-left:hover{
    color: #9356DC;
}
header i:visited{
    text-decoration: none;
    color: black;
}

/*ENTETE IMAGE*/
.entete-img img{
    object-fit: cover;
    width: 100%;
    height: 18rem;
    z-index: auto;
}

/*SECTION MENU*/
#menu{
    position: relative;
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
    background-color: #f6f6f6;
    bottom: 3rem;
    z-index: 1;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-bottom: 3rem;
}
.menu_title{
    font-family: 'Shrikhand', cursive;
    padding-top: 1rem;
    text-align: center;
    font-weight: bold;
}
.heart-gradient i{
    font-size: 2rem;
    cursor: grab;
    transition: all .3s ease-in-out;
}
.heart-gradient i:hover{
    opacity: 1;
    background: linear-gradient(90deg,#FF79DA,#9356DC);
    -webkit-background-clip: text;
    color:transparent;
    border-radius: 0.5rem;
    font-weight: bold;
}

/*PLAT*/
.plats section{
    margin-left: 1rem;
    margin-right: 1rem;
}
.plats section h2{
    text-align: left;
    font-weight: lighter;
    font-size: 100%;
    margin-bottom: 0;
    font-weight: bold;
}
.plats hr{
    width: 2.6rem;
    height: 0.2rem;
    border: none;
    margin-left: 0;
    margin-bottom: 2rem;
    background-color: #99E2D0;
}
.plats div{
    height: 4rem;
    background-color: white;
    border-radius: 1rem;
    box-shadow: 0 0 10px #00002e;
    margin-bottom: 2rem;
    padding-left: 1rem;
    padding-top: 1rem;
    position: relative;
    animation: fadeln 0.7s ease-in both, top 0.5s linear;
}
.plats div:nth-of-type(1){
    animation-delay: 0s;
}
.plats div:nth-of-type(2){
    animation-delay: 0.1s;
}
.plats div:nth-of-type(3){
    animation-delay: 0.2s;
}
@keyframes fadeln{
    from{
        top:4rem;
        opacity: 0;
    }
    to{
        top:0rem;
        opacity: 1;
    }
}
.prix{
    position: absolute;
    right: 2rem;
    top: 1rem;
    font-weight: bold;
}
.plats h3, .description{
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.plats h3{
    position: absolute;
    top: 0;
}
.description{
    height:1.6rem;
    width: 70%;
    position: absolute;
    top: 2rem;
    bottom: 2rem;
    font-size: 95%; 
}
.plats span{
    width: 0%;
    height: 100%;
    left: 100%;
    bottom: 0rem;
    position: absolute;
    color: #fff;
    background-color: #99E2D0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-right-radius: 0.9rem;
    border-bottom-right-radius: 0.9rem;
    font-size: 1.375rem;
    visibility: hidden;
    transition: all 0.3s;
}
.fa-check-circle{
    visibility: hidden;
}
.plats div:hover span{
    width: 20%;
    left: 80%;
    visibility: visible;
}
.plats div:hover .fa-check-circle{
    visibility: visible;
}
.plats div:hover .prix{
    left: 65%;
}
.plats div:hover .description{
    width: 50%;
}
plats div:hover i{
    animation: rotation 0.3s linear 0.3s;
}
@keyframes rotation{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}
.title{
    text-transform: uppercase;
}

/*COMMANDE*/
.commande{
    display: flex;
    justify-content: center;
    padding-top: 1rem;
}
.commande a{
    width: 9rem;
    font-family: 'Roboto', sans-serif;
    color: #fff;
    text-decoration: none;
    text-align: center;
    padding: 1rem 1rem 1rem 1rem;
    border-radius: 2rem;
    cursor: pointer;
    transition: all 0.3s ease-in;
    background-size: 200%;
    background-image: linear-gradient(90deg,#FF79DA,#9356DC);
    background-position: 80%;
    box-shadow: 0 0 10px #00002e;
    position: relative;
}
.commande a:hover{
    transform: scale(1.05);
    background-position: 30%;
}
/*FOOTER*/
footer{
    background-color: #353535;
    color: white;
    display: flex;
    flex-direction: column;
}
footer h4{
    font-family: 'Shrikhand',cursive;
    margin-left: 2.5rem;
}
footer a{
    text-decoration: none;
    color: white;
}
footer li{
    font-family: 'Roboto',sans-serif;
    list-style-type: none;
    margin-bottom: 0.5rem;
}
footer li:hover a{
    color: #FF79DA;
}

/*MEDIA QUERIES*/
/*MOBILE*/
@media (min-width:400px){
    .heart-gradient i{
        position: absolute;
        right: 2rem;
        top: 2rem;
    }
    .prix{
        position: absolute;
        font-weight: bold;
        top: 1rem;
        left: 85%;
    }
    .plats h3{
        position: absolute;
        width: 70%;
        top: 0;
    }
}
@media (max-width:320px){
    .menu_title{
        font-size: 130%;
    }
    .heart-gradient i{
        position: absolute;
        right: 0.8rem;
        top: 1.9rem;
    }
    .prix{
        position: absolute;
        font-weight: bold;
        font-size: 95%;
        top: 2rem;
        left: 80%;
    }
    .plats h3{
        position: absolute;
        width: 70%;
        padding-top: 0;
        font-size: 100%;
    }
}
@media (min-width:321px){
    .heart-gradient i{
        position: absolute;
        right: 1.5rem;
        top: 1.9rem;
    }
    .prix{
        position: absolute;
        font-weight: bold;
        top: 2rem;
        left: 85%;
    }
    .plats h3{
        position: absolute;
        width: 70%;
        top: 0;
        font-size: 100%;
    }
}

/*TAB AND LANDSCAPE AND DESKTOP*/
@media (min-width:768px){
    .heart-gradient i{
        right: 30%;
    }
    .menu_title{
        font-size: large;
        text-align: center;
    }
    .plats  h2, plats hr{
        text-align: left;
        margin-left: 30%;
        margin-top: 2rem;
        font-size: 130%;
    }
    .plats div{
        margin-left: 30%;
        margin-right: 30%;
        align-items: center;
    }
    .plats div:hover span{
        width: 20%;
        left: 80%;
    }
    .prix{
        left: 80%;
    }
    .plats div:hover .prix{
        left: 70%;
    }
    footer{
        display: flex;
        flex-direction: row;
    }
}
