/*GENERAL*/
*{
    margin: 0;
    padding: 0;
}
h1 h2 h3 h4{
    font-family: 'Shrikland',sans-serif;
    background-color: #fff;
    margin: auto;
}
article{
    padding: 20px 15px;
}

/*HEADER mobile first*/